@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Primeira aula sobre Estrutura AspNet Core - Razor</a>.</p>

    <h2>Agora vamos estudar sobre projeto MVC </h2>
</div>
